.msg-other {
  display: flex;
  align-items: center;
  gap: 5;
  color: black;
  .user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 40px;
      border-radius: 50%;
    }
    span {
      font-weight: bold;
    }
  }
}
.msg-user {
  background-color: #f99417;
  align-self: flex-end;
  padding: 4px 8px;
  border-radius: 7px 7px 0 7px;
}
